.product-category {
    display: flex;

    align-items: center;
    gap: .75rem;

    padding: 1rem 1.6rem;

    border-radius: 999px;

    background: white;

    border: 1px solid rgb(226 232 240);

    transition: .35s;

    font-weight: 700;

    cursor: pointer;

    box-shadow: 0 5px 20px rgb(0 0 0 /.05);
}

.product-category:hover {
    transform: translateY(-3px);

    box-shadow: 0 12px 35px rgb(0 0 0 /.12);
}

.product-category.active {
    background: #005826;
    color: white;
    border-color: #005826;
}